.header
  .main
    .main__top
      .main__top__left
        = image_tag "fmarket_logo_red.svg", class: "merukari-logo"
      .main__top__right
        %input.search-form__input{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}
        %i.icon-search
          = fa_icon  "search", class: 'icon' 
    .main__bottom
      .main__bottom__left
        .main__bottom__left__category
          .logo1
            = fa_icon  "list-ul",class: 'icon1'
          .category-word
            %ul 
              %li カテゴリーから探す
        .main__bottom__left__brand
          .logo1
            = fa_icon  "tags lg",class: 'icon1'
              
          .category-word
            %ul 
              %li ブランドから探す

      .logout
        .logout__new 
          .logout__new__text
            新規会員登録
        .logout__rogin
          .logout__rogin__text
            ログイン

        -# .main__bottom__right__nice
        -#   .logo2
        -#     = fa_icon  "heart-o lg",class: 'icon1'
        -#   .nice-word
        -#     %ul 
        -#       %li いいね！一覧
        -# .main__bottom__right__information
        -#   .logo2
        -#     = fa_icon  "bell-o lg",class: 'icon1'
        -#   .information-word
        -#     %ul 
        -#       %li お知らせ
        -# .main__bottom__right__list
        -#   .logo2
        -#     = fa_icon  "check lg",class: 'icon1'
        -#   .list-word
        -#     %ul 
        -#       %li やることリスト
        -# .main__bottom__right__my-page
        -#   .logo2
        -#     %img.logo-my{alt: "Mercari", src: "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}/
        -#   .my-page-word
        -#     %ul 
        -#       %li マイページ      