.wrapper
  %main
    .swiper-container.top-carousel
      .swiper-wrapper
        .swiper-slide1
        .swiper-slide2
        .swiper-slide3
      .swiper-button-prev
      .swiper-button-next
      .swiper-pagination