.footer
  .footer-top
    .footer-top__center
      .fotter-top__center-left
        .fotter-top__center-left__text
          .fotter-top__center-left__text
        .fotter-top__center-left__icon
      .fotter-top__center-right

  .footer-bottom