.sold{
  height: 460px;
  width: 100%;
  background-color: #f5f5f5;
  &__content{
    height: 100%;
    width: 700px;
    margin: 0 auto;

    &__top{
    height: 65px;
    width: 100%;
    padding: 16px;
    border-bottom: solid 1px #f5f5f5;
    background-color: #fff;
    .soldtop-text{
      line-height: initial;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
    }
    }
    &__bottom{
      height: 95px;
      width: 100%;
      padding: 40px 87.5px 40px;
      background-color: #fff;

      &__text{
        max-width: 320px;
        margin: auto;

      }
    }
  }
}







.main-footer{
  background-color: #f5f5f5;


  .footer{
    width: 456px;
    height: 230px;
    padding: 55px 0;
    margin: 0 auto;
    
    &__box{
      font-size: 12px;
      color: #333;
      margin: 0 40px;
      display: flex;
      text-decoration: none;
      justify-content: space-between;
      li{
        cursor: pointer;
        &:hover{
          opacity: 0.75;
          text-decoration: underline;
        }
      }
    }
    &__box2{
      width: 80px;
      height: 65px;
      margin: 50px 0 0 140px;
      cursor: pointer;
      &:hover{
        opacity: 0.75;
      }
    }
    &__box3{
      text-align: center;
      margin: 8px 0 0;
      font-size: 12px;
      color: #333;
    }
  }


  a{
  text-decoration: none;
  color: #333;
  }
  .main-all {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  .single-container {
    .single-header {
      text-align: center;
      height: 128px;
      h1 {
        display: inline-block;
        margin: 40px 0 0;
        a {
          background-image: url('fmarket_logo_red.svg');
          display: inline-block;
          width: 160px;
          height: 49px;
          line-height: 49px;
          img {
            vertical-align: middle;
          }
        }
      }
    }
    .single-main {
      display: block;
      .login-panel {
        max-width: 456px;
        margin: 0 auto;
        background: #fff;
        .login-no-account {
          padding: 40px 64px;
          text-align:  center;
          p {
            font-size: 14px;
          }
          a {
            text-decoration: none;
            display: block;
            margin: 8px 0 0;
            border: 1px solid #0099e8;
            background: #0099e8;
            color: #fff;
            line-height: 40px;
          }
        }
        .login-form-inner {
          padding: 32px 64px;
          border-top: 1px solid #eee; 
          #facebook-login {
            background: #385185;
            border: #979797 solid 1px;
            color: #333;
            display: flex;
            .btn-image1 {
              width: 100%;
              display: flex;            
              .facebook-logo {
                max-width: 35px;
                max-height: 35px;
              }
              .facebook-link{
                color: #fff;
                display: block;
                padding: 5px 5px 5px 50px;
                width: 350px;
                text-align: left;
                text-decoration: none;
                margin: auto;
              }
            }
          }
          #google-login {
            margin: 16px 0 0;
            background: #fff url('/jp/assets/img/common/common/google.svg') no-repeat 3px top;
            border: #979797 solid 1px;
            color: #333;
            display: flex;
            .btn-image2 {
              width: 100%;
              display: flex;
              .google-logo {
                max-width: 35px;
                max-height: 35px;
              }
              .google-link {
                display: block;
                padding: 5px 5px 5px 50px;
                width: 350px;
                text-align: left;
                text-decoration: none;
                margin: auto;
              }
            }
          }
          .btn-sns {
            position: relative;
          }
          .btn-default {
            display: block;
            width: 100%;
            font-size: 14px;
            border: 1px solid transparent;
            transition: all ease-out .3s;

          }
        }
      }
        .login-form-inner1 {
          padding: 0 64px 32px;
          .form-group {
            margin: 24px 0 0;
            .login-input-text.input-default {
              height: 50px;
              padding: 10px 16px 8px;
              width: 100%;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            .g-recaptcha {
              width: 304px;
              height: 78px;
              #g-recaptcha-response.g-recaptcha-response{
                width: 250px; 
                height: 40px; 
                border: 1px solid rgb(193, 193, 193); 
                margin: 10px 25px; 
                padding: 0px; 
                resize: none; 
                display: none;
                iframe {
                  height: 78; 
                  width: 304;
                }
              }
            }
            .login-submit {
              margin: 24px 0 0;
              .btn-red {
                background: #ea352d;
                border: 1px solid #ea352d;
                color: #fff;
                text-align: center;
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                border: 1px solid transparent;
                -webkit-transition: all ease-out .3s;
                transition: all ease-out .3s;
                cursor: pointer;
                text-align: center;
                margin-bottom: 40px;
              }
              .btn-pass {
                color:#0099e8;
                text-decoration: none;
              }
            }
          }
        }
        
    }
    .single-footer {
      width: 456px;
      margin: 0 auto;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding: 40px 0;
      text-align: center;
      .clearfix {
        li {
          font-size: 12px;
          display: inline-block;
          margin: 0 0 0 16px;
        }
      }
          a {
            color: #333;
            display: block;
            touch-action: manipulation;
            text-decoration: none;
          }
      .single-fotter-logo {
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
        .mercari-img {
          vertical-align: middle;
          background-image: url('122939m.jpg');
          background-repeat: no-repeat;
          width: 80px;
          height: 65px;
        }
      }
      p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }
  }
  }
}