.card-wrapper {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  .card {
    width: 700px;
    float: right;
    &__right {
      background: #fff;
      &--title {
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
      }
      &--content {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        .card-index {
          width: 320px;
          margin: 0 auto;
          font-size: 16px;
        }
        .card-button {
          padding: 24px 0;
          border-bottom: 1px solid #eee;
          &__tag {
            width: 320px;
            margin: 0 auto;
            .card-button-link {
              background-color: #ea352d;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              color: white;
              text-decoration: none;
              text-align: center;
              transition: opacity .3s;
              .card-button-icon {
                display: inline-block;
                margin-right: 16px;
              }
              .card-button-text {
                display: inline-block;
              }
            }
            .card-button-link:hover {
              opacity: .7;
            }
          }
        }
        .cards {
          &__show {
            padding: 24px 0;
            border-bottom: 1px solid #eee;
            &--form {
              width: 320px;
              margin: 0 auto;
              position: relative;
              .card-info {
                font-size: 14px;
              }
              .card-delete {
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px 6px;
                background: #fff;
                border-radius: 3px;
                border: 1px solid #ea352d;
                color: #ea352d;
                cursor: pointer;
                font-size: 12px;
              }
            }
          }
        }
        .card-link {
          .card-link-text {
            color: #0099e8;
            display: block;
            margin: 40px 0 0;
            text-align: right;
            text-decoration: none;
            .card-link-font {
              display: inline-block;
              margin-right: 8px;
            }
            .card-link-font:hover {
              text-decoration: underline;
            }
            .card-link-icon {
              display: inline-block;
            }
          }
          .card-link-text:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}

.indenti-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background-color: #fff;
  ul {
    overflow: visible;
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    li {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      a {
        color: #333;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        opacity: .7;
      }
      i {
        margin: 0 3px;
        font-size: 9px;
        color: #888;
      }
      span.indenti-list {
        font-weight: 600;
      }
    }
  }
}

.mains{
  height: 1330px;
  float: left;
  .left{
    height: 1000px;
    width: 280px;
    
    margin: 0 40px 0 0;
    &__top{
      background-color: #fff;
      height: 700px;
    }
    &__center {
      font-weight: bold;
      margin-top: 40px;
      &__box {
        font-weight: normal;
      }
    }
    &__bottom {
      font-weight: bold;
      margin-top: 40px;
      &__box {
        font-weight: normal;
      }
    }
    p{
      display: block;
      padding: 15px;
      color: #333;
      min-height: 48px;
      height: 50px;
      position: relative;
      background: #eee;
      font-size: 14px;
      font-weight: bold;
      .special {
        color: #333
      }
    }
    li{
      display: block;
      padding: 15px;
      color: #333;
      min-height: 48px;
      height: 50px;
      position: relative;
      background: #fff;
      font-size: 14px;
      border-top: solid 1px #eee;
    }
    i{
      position: absolute;
      left: 128px;
      top: 9px;
      font-size:15px;
      color: #ccc;
    }
  }
}

.main-content {
  width: 1020px;
  margin: 40px auto 0;
  padding-bottom: 40px;
}