
.header{
  width: 100vw;
  height: 100px;

  .main{
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding-top:8px;
    box-sizing: border-box; 
    font-family: "游ゴシック体", YuGothic;
    &__top{
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__left{
        width: 134px;
        height: 36px;
        background-color: white;
      }
      &__right{
        width: 841px;
        height: 40px;
        position: relative;
      }
      .search-form__input{
        background-color: rgb(245, 245, 245);
        font-size: 16px;
        height: 40px;
        width: 841px;
        line-height: 1.4em;
        position: relative;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-radius: 4px;
        padding: 0px 50px 0px 10px;
        box-sizing: border-box;
      }
      .icon-search{
        height: 40px;
        width: 40px;
        font-size: 14px; 
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

     }
    &__bottom{
      height: 44px;
      width: 100%;
      margin:8px 0 0;
      display: flex;
      justify-content: space-between;
      color: #333333;

      &__left{ 
        width: 308.45px;
        height: 44px;
        background-color: white;
        display: flex;
       &__category{
         display: flex;
         height: 36px;
         display: flex;
         font-size: 14px;
         padding: 0 10px 0 0;
         font-weight: 600;
         line-height: 36px;
       }
       &__brand{ display: flex;
        height: 36px;
        display: flex;
        font-size: 14px;
        padding: 0 0 10px 0;
        font-weight: 600;
        line-height: 36px;
       }
      }
      &__right{
        width: 520.31px;
        height: 44px;
        background-color: white;
        display: flex;
        
        color: #333333;
        &__nice{
          width: 127px;
          height: 44px;
          display: flex;
          padding: 0 14px 0 0;
          font-size: 14px;
          line-height: 36px;  
        }
        .nice-word{
          width: 84px;
        }
        &__information{
          width: 111px;
          height: 44px;
          display: flex;
          padding: 0 7px;
          font-size: 14px;
          line-height: 36px;
        }
        &__list{
          width: 167px;
          height: 44px;
          display: flex;
          padding: 0 14px;
          font-size: 14px;
          line-height: 36px;
        }
        .list-word{
          width: 98px;
        }
        &__my-page{
          width: 125.31px;
          height: 44px;
          display: flex;
          font-size: 14px;
          line-height: 36px;
        }
        .logo-my{
          margin-right: 10px;
          width: 32px;
          border-radius: 50%;
      }
        .my-page-word{
          width: 79.31px;
        }
      }
    }
  }
}

.icon{
  font-size: 14px ; 
  
}
.icon1{
  font-size: 14px ;
  color: red;
}
.icon2{
  font-size: 14px ;
  margin: 0 6px 0 0;
  color: rgb(204, 204, 204);
}

.logo1{
  margin: 0 8px 0 0;
  color: red;
}
.logo-heart{
  margin: 0 5px 0 0;
  color: rgb(204, 204, 204);
  height: 21px;
  width: 21px;
}
.logo-heart::before{
  font-family:'Font Awesome 5 Free';
  font-weight: 400;
  content:'\f004';
  font-size: 20px ;
  
}
.logo-bell{
  margin: 0 5px 0 0;
  color: rgb(204, 204, 204);
  font-size: 14px;
  height: 21px;
  width: 21px;
}
.logo-bell::before{
  font-family:'Font Awesome 5 Free';
  font-weight: 400;
  content:'\f0f3';
  font-size: 20px ;
}

.logout{
display: flex;
text-align: center;
  &__new{
   width:106px ;   
    &__text{
      background-color: rgb(234, 53, 45);
      color: rgb(255, 255, 255);
      display: block;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(234, 53, 45);
      border-image: initial;
      border-radius: 4px;
      padding: 4px 5px;
    } 
  }
  &__rogin{
  padding:0 0 0 11px;
  box-sizing: border-box;
  text-align: center;
    &__text{
      background-color: rgb(255, 255, 255);
      color: rgb(0, 149, 238);
      display: block;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(0, 149, 238);
      border-image: initial;
      border-radius: 4px;
      padding: 4px 5px;
      transition: all 0.3s ease-out 0s;
      width: 100%;
    }
    &__text:hover {
      background-color: #59b1eb;
      color: white;
    }
  }
}