.sell-main{
background-color: #f5f5f5;
width: 1440px;
  #item-dropzone {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
  }
  .sell{
    &-inner {
      &__header {
        font-size: 22px;
        font-weight: bold;
        padding: 32px 16px;
        text-align: center;
        border-bottom: 2px solid #f5f5f5;
      }
      &-container {
        padding-bottom: 150px;
        &__box {
          padding: 40px 0 40px 40px;
          width: 660px;
          margin-right: 40px;
          &__label {
            font-size: 16px;
            font-weight: bold;
          }
          &__require {
            background-color: #ea352d;
            color: #fff;
            font-size: 12px;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            font-weight: bold;
            border-radius: 2px;
          }
          &__max {
            margin: 8px 0 10px 0;
          }

          .dropzone-container {
            position: relative;
            .img_view {
              width: 115px;
              background-color: #f5f5f5;
              height: 163px;
              margin-left: 10px;
            }
            .pic {
              margin-top: 10px;
            }
            #preview {
              display: flex;
              .dropzone-container__box {
                line-height: 15px;
                position: absolute;
                
              }
              .btn_wrapper {
                display: flex;
                font-size: 14px;
                color: rgb(53, 176, 247);
                height: 40px;
                .btn {
                  width: 50%;
                  text-align: center;
                  padding: 10px;
                }
              }
            }
            .dropzone-area {
              width: 620px;
              display: block;
              min-height: 162px;
              font-size: 0;
              text-align: center;
              right: 0;
              cursor: pointer;
              position: absolute;
              top: 0;
              .dropzone-box {
                .input_area {
                  height: 160px;
                  position: relative;
                  background: #f5f5f5;
                  border: 1px dashed #ccc;
                  cursor: pointer;
                  #upload-image {
                    display: none;
                  }
                  .text--note {
                    position: absolute;
                    top: 40%;
                    font-weight: bold;
                    left: 16px;
                    right: 16px;
                  }
                }
              }
            }
            #preview2 {
              display: flex;
              .dropzone-area {
                width: 620px;
                display: block;
                min-height: 162px;
                font-size: 0;
                text-align: center;
                right: 0;
                cursor: pointer;
                position: absolute;
                top: 0;
              }
            }
          }
        }
      }
    }
    &__inner{
      width: 700px;
      background-color: #fff;
      margin: 0 auto;
      &__top{
        padding: 32px 16px;
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        border-bottom: solid 1.5px #f5f5f5;
        .sell-info{
          font-weight: bold;
        }
      }
      &__upload{
        height: 300px;
        width: 100%;
        background-color: #fff;
        padding: 40px;
        border-bottom: solid 1.5px #f5f5f5;
        &__img-text{
          display: flex;
        }
        &__img-text2{
          margin-top: 5px;
        }
        &__img-file{
          margin-top: 15px;
          display: flex;
        }
        .file-box {
          width: 100%;
          height: 40px;
          margin: auto;
          padding: 10px 16px 8px;
          border-radius:4px;
          line-height: 1.5;
          cursor: pointer;
          outline-width: 2px;
          min-height: 162px; 
          background: #f5f5f5; 
          border: 1px dashed #ccc; 
          font-size: 0; 
          text-align: center; 
        }
        .file-up{
          margin-top: 45px;
        }
      }
      &__content{
        height: 360px;
        width: 100%;
        padding: 40px;
        border-bottom: solid 1.5px #f5f5f5;
        border-top: solid 1px #eee;
        &__item{
          display: flex;
          margin-top: 8px;
          font-size: 16px;
          font-weight: bold;
        }
        &__name{
          .input-default{
            height: 40px;
            width: 100%;
            font-size: 16px;
            margin-top: 8px;
            #item_name {
              width: 100%;
              height: 48px;
              border: solid 1px #ccc;
              border-radius: 4px;
              padding: 10px 16px 8px;
            }
          }
        }
        &__description{
          display: flex;
          margin-top: 30px;
          font-size: 16px;
          font-weight: bold;
        }
        &__deteil{
          .textarea-default{
            #item_text {
              border: 1px solid #ccc;
              height: 130px;
              width: 100%;
              font-size: 16px;
              padding: 10px;
              margin-top: 8px;
            }
          }
        }
      }
      &__category{
        height: 270px;
        width: 100%;
        padding: 40px;
        border-bottom: solid 1.5px #f5f5f5;
        .category-box{
          float:right;
        }
        &__name{
          display: flex;
          margin-bottom: 5px;
          font-weight: bold;
        }
        &__status{
          margin: 40px 0 5px;
          display: flex;
          font-weight: bold;
        }
      }
      &__delivery{
        height: 385px;
        width: 100%;
        padding: 40px;
        border-bottom: solid 1.5px #f5f5f5;
        .delivery-box{
          float:right;
        }
        &__fee{
          display: flex;
          margin-bottom: 5px;
          font-weight: bold;
        }
        &__region{
          margin: 40px 0 5px;
          display: flex;
          font-weight: bold;
        }
        &__day{
          margin: 40px 0 5px;
          display: flex;
          font-weight: bold;
        }
      }
      &__price {
        height: 300px;
        width: 100%;
        padding: 40px;
        border-bottom: solid 1.5px #f5f5f5;
        &__box{
          float: right;
          height: 280px;
          width: 400px;
          .sell-price-form{
            display:flex;
            margin-top:10px;
            justify-content: space-between;
            .price-box-top{
              display: inline-block;
              margin-top: 12px;
              font-weight: bold;
            } 
            .sell-price-input{
              display: flex;
            }
          }
        }
      }
      &__privacy{
        height: 330px;
        width: 100%;
        padding: 40px;    
        border-bottom: solid 1.5px #f5f5f5;
        &__exhibit{
          margin-top: 40px;
          position: relative;
          .sell-back{
            height: 50px;
            width: 280px;
            font-size: 14px;
            text-align: center;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff !important;
            line-height: 20px;
            padding: 14px;
            position: absolute;
            top: 75px;
            left: 166px;
          }
        }
      }
      a{
        color: #0099e8;
      }
    }
  }
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
}
  
.sell-right{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background: #ea352d;
  display: inline-block;
}
.sent-left{
  display: inline-block;
}
.img-text-left {
  font-size: 16px;
  font-weight: bold;
}

.select-sell {
  width: 400px;
  #item_estimated_shipping_date_id {
    width: 400px;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
}

#item_state_id {
  width: 400px;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

#item_delivery_id {
  width: 400px;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

#item_estimated_shipping_data_id {
  width: 400px;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}


select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 20px;
  padding: 7px 30px 7px 10px;
  font-size: 93%;
  line-height: 1.1em;
  border-radius: 5px;
  border: none;
  background-image: url(.assets/icon_arrow.svg);
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: right 10px center;
  background-color: #bddfff;
}
select::-ms-expand{
  display: none;
}

.text-inline{
  display: inline;
} 

.select-sell{
  position: relative;
  cursor: pointer;
  #item_prefecture_id{
    width: 400px;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  i {
    height: 50px;
    position: absolute;
    top: 13px;
    right: 15px;
    pointer-events: none;
  }
}

.icon-arrow-sell{
  right: 20px;
  top: 25px;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.input-sell{
  #item_price {
    height: 50px;
    width: 160px;
    text-align: right;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-left: 10px;
  }
}

.sell-price-center{
  height: 72px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  margin-top:25px ;
  border-top: solid 1.5px  #f5f5f5;
  border-bottom: solid 1.5px  #f5f5f5;
}
.sell-price-bold{
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  .l-left {
    font-weight: bold;
  }
  .l-right {
    font-size:30px;
    font-weight: bold;
  }
}
.privacy1{
  display: flex;
}
.privacy2{
  display: flex;
}

.exhibit_btn{
  width: 620px;
  height: 45px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.qestion-mark{
  border-radius: 50%;
  background-color:  #0099e8;
  color: #fff !important ;
  padding: 0 3px 0 3px;
}
.form-image{
  font-size: 1.3rem;
  position: absolute;
  right: 150px;
  bottom: 18px;
  cursor: pointer;
}