//後ほどマークアップを実装します。
.sale__item {
  background-color: #f5f5f5;
  width: 1440px;
  &__sidebar{
    margin: 50px 0 0 30px;
  }
  .sale__item__box {
    width: 870px;
    height: 400px;
    background-color: #fff;
    margin-left: 350px;
    margin-top: 50px;
    margin-bottom: 900px;
    &__main {
      height: 75px;
      line-height: 75px;
      padding-left: 20px;
      font-size: 20px;
      color: #333;
      font-weight: bold;
    }
    &__sale {
      height: 75px;
      line-height: 75px;
      width: 290px;
      border-top: solid 3px #ea352d;
      font-size: 18px;
      color: #333;
      text-align: center;
      font-weight: bold;
      background-color: #fff;
      
    }
    &__sell {
      height: 75px;
      width: 290px;
      line-height: 75px;
      font-size: 18px;
      color: #333;
      text-align: center;
      font-weight: bold;
      position: relative;
      left: 290px;
      bottom: 75px;
      background-color: #eeeeee;
    }
    &__sold {
      height: 75px;
      width: 290px;
      line-height: 75px;
      font-size: 18px;
      color: #333;
      font-weight: bold;
      position: relative;
      left: 580px;
      bottom: 150px;
      text-align: center;
      background-color: #eeeeee;
    }
    &__list {
      position: relative;
      bottom :150px;
      background-color: #fff;
      width: 100%;
      height: 100%;
      .saling {
        &__all {
          font-size: 18px;
          line-height: 70px;
          height: 70px;
          font-weight: bold;
          border-bottom: 1px solid #eeeeee;
          padding: 0 20px;
        }
        &__else{
          .free-logo{
            width: 100%;
            margin: 100px auto 0;
          }
        }
        &__else2{
          font-size: 20px;
          font-weight: bold;
          color: #999999;
          margin-top: 70px;
          text-align: center;
        }
       
      }
    }
  }
}

.crearfix::after{
  content: '';
  display: block;
  clear: both;
}