.contents{
  width: 1440px;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  .header{
    height: 128px;
    background-color: #f5f5f5;
    .fmarket{
      height: 90px;
      width: 200px;
      left: 350px;
      position: relative;
    
      &__box{
        .logo{
          margin: 35px 10px 10px;
        }
      }
    }
    .clearfix{
      width: 500px;
      height: 40px;
      position: relative;
      left: 595px;
      bottom: 54px;
      display: flex;
      background-color: #f5f5f5;
      .progress-bar1{
        position: relative;
        z-index: 1;
        .a{
          font-weight: 600;
          font-size: 12px;
          position: relative;
          color: #ea352d;
          right: 3px;
        }
        &__x{
          background-color: #ea352d;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: center;
          position: absolute;
          top: 23px;
          left: 15px;
        }
        &__x::after{
          background-color: #ccc;
          height: 2px;
          width: 109px;
          position: absolute;
          z-index: -1;
          display: inline-block;
          vertical-align: center;
          content: '';
          bottom: 5px;
        }
      }
      .progress-bar2{
        font-weight: 400;
        font-size: 12px;
        position: relative;
        z-index: 1;
        color: gray;
        left: 43px;

        &__x{
          background-color: #ccc;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          display: inline-block;
          vertical-align: center;
          top: 23px;
          left: 30px;
        }
        &__x::after{
          background-color: #ccc;
          height: 2px;
          width: 125px;
          position: absolute;
          z-index: -1;
          display: inline-block;
          vertical-align: center;
          content: '';
          bottom: 5px;
        }
      }
      .progress-bar3{
        font-weight: 400;
        font-size: 12px;
        position: relative;
        z-index: 1;
        color: gray;
        left: 83px;

        &__x{
          background-color: #ccc;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          display: inline-block;
          vertical-align: center;
          top: 23px;
          left: 42px;
        }
        &__x::after{
          background-color: #ccc;
          height: 2px;
          width: 120px;
          position: absolute;
          z-index: -1;
          display: inline-block;
          vertical-align: center;
          content: '';
          bottom: 5px;
        }
      }
      .progress-bar4{
        font-weight: 400;
        font-size: 12px;
        position: relative;
        z-index: 1;
        color: gray;
        left: 123px;

        &__x{
          background-color: #ccc;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          display: inline-block;
          vertical-align: center;
          top: 23px;
          left: 25px;
        }
        &__x::after{
          background-color: #ccc;
          height: 2px;
          width: 100px;
          position: absolute;
          z-index: -1;
          display: inline-block;
          vertical-align: center;
          content: '';
          bottom: 5px;
        }
      }
      .progress-bar5{
        font-weight: 400;
        font-size: 12px;
        position: relative;
        z-index: 1;
        color: gray;
        left: 145px;

        .bbb{
          position: relative;
          left: 36px;
        }

        &__x{
          background-color: #ccc;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          display: inline-block;
          vertical-align: center;
          top: 23px;
          left: 42px;
        }
      }
    }
  }
  .single{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
    &__head{
      height: 95px;
      border-bottom: 1px solid #f5f5f5;
      h1{
        font-size: 22px;
        font-weight: bold;
        color: #333;
        line-height: 95px;
        text-align: center;
      }
    }
    .single-box{
      padding: 40px 40px 64px;
      li{
        font-weight: 600;
        font-size: 14px;
        list-style: none;
        
      }
      .input-default{
        padding: 10px 16px 8px;
        height: 48px;
        width: 340px;
        border-radius: 4px;
        border:solid 1px #ccc;
        position: relative;
        bottom: 12px;
      }
      .single-box2{
        width: 343px;
        height: 70px;
        margin: 0 auto;
       
        .single-box3{
          background-color: #ea352d;
          width: 32px;
          height: 19px;
          font-size: 12px;
          border-radius: 2px;
          color: #fff;
          position: relative;
          left: 95px;
          bottom: 22px;
          text-align: center;
        }
        .field-input{
          input{
            padding: 10px 16px 8px;
            height: 48px ;
            width: 340px;
            border-radius: 4px;
            border: solid 1px #ccc;
            position: relative;
            bottom: 12px;
          }
        }
        
      }
      .single-box4{
        height: 70px;
        width: 343px;
        margin: 32px auto 0;
        
        .single-box5{
          background-color: #ea352d;
          width: 32px;
          height: 19px;
          font-size: 12px;
          border-radius: 2px;
          color: #fff;
          position: relative;
          left: 110px;
          bottom: 22px;
          text-align: center;
        }

        .field-input{
          input{
            padding: 10px 16px 8px;
            height: 48px ;
            width: 340px;
            border-radius: 4px;
            border: solid 1px #ccc;
            position: relative;
            bottom: 12px;
          }
        }

      }
      .single-box6{
        height: 120px;
        width: 343px;
        margin: 32px auto 0;
        .single-box7{
          background-color: #ea352d;
          width: 32px;
          height: 19px;
          font-size: 12px;
          border-radius: 2px;
          color: #fff;
          position: relative;
          left: 80px;
          bottom: 22px;
          text-align: center;
        }
        label{
          font-size: 15px;
          cursor: pointer;
         
        }
        .checkbox-default{
          transform: scale(1.5);
          margin-left: 5px;
          cursor: pointer;
        }
        .passbox{
          height: 35px;
          width: 150px;
          background-color: #ccc;
        }
      }
      .single-box8{
        height: 70px;
        width: 343px;
        margin: 60px auto 0;
        h2{
          font-size:16px;
          font-weight: bold;
        }
        .option{
          margin-top: 5px;
          color: #333;
          height: 50px;
          font-size: 13px;
        }
      }
      .single-box9{
        height: 70px;
        width: 343px;
        margin: 32px auto 0;
        
        .single-box10{
          background-color: #ea352d;
          width: 32px;
          height: 19px;
          font-size: 12px;
          border-radius: 2px;
          color: #fff;
          position: relative;
          left: 90px;
          bottom: 22px;
          text-align: center;
        }
        .single-box11{
          background-color: #ea352d;
          width: 32px;
          height: 19px;
          font-size: 12px;
          border-radius: 2px;
          color: #fff;
          position: relative;
          left: 115px;
          bottom: 22px;
          text-align: center;
        }
        .input-default{
          padding: 10px 16px 8px;
          height: 48px;
          width: 165px;
          border-radius: 4px;
          border:solid 1px #ccc;
          position: relative;
          bottom: 12px;
        }
        .input-default2{
          padding: 10px 16px 8px;
          height: 48px;
          width: 165px;
          border-radius: 4px;
          border:solid 1px #ccc;
          float: right;
          position: relative;
          bottom: 12px;
          right: 5px;
        }
      }
      .single-box13{
        height: 70px;
        width: 343px;
        margin: 0 auto;

        li{
          position: relative;
          top: 30px;
        }

        .single-box14{
          background-color: #ea352d;
          width: 32px;
          height: 19px;
          font-size: 12px;
          border-radius: 2px;
          color: #fff;
          position: relative;
          left: 70px;
          top:10px;
          text-align: center;
        }
        .icons{
          color: #999;
          top: 35px;
          position: relative;
          pointer-events: none;
          left: 10px;
          i{
            position: relative;
            z-index: 9999;
            left: 23px;
            padding-left: 22px;
            padding-right: 16px;
          }
          
        }
        
        #_birthday_year_1i{
          width: 80px;
          padding: 0 10px;
          border:solid 1px #ccc;
          background-color: #fff;
          font-weight: 200;
          height: 50px;
          cursor: pointer;
        }
        #_birthday_year_2i{
          width: 80px;
          padding: 0 10px;
          border:solid 1px #ccc;
          background-color: #fff;
          font-weight: 200;
          height: 50px;
          position: relative;
          cursor: pointer;
        }
        #_birthday_year_3i{
          width: 80px;
          padding: 0 10px;
          border:solid 1px #ccc;
          background-color: #fff;
          font-weight: 200;
          height: 50px;
          cursor: pointer;
          position: relative;
        }
        .caution{
          color:#999999;
          font-size: 14px;
          margin-top: 5px;
        }
      }
      .the_box{
        height: 70px;
        width: 350px;
        margin: 120px auto 0;
      }
      .caution2{
        margin: 50px auto 0;
        width: 340px;
        height: 50px;
        font-size: 14px;
        text-align: center;
        color: #333;
        a{
          cursor: pointer;
          color: #0099e8;
          &:hover{
            opacity: 0.75;
            text-decoration: underline;
          }
        }
      }
      .button_box{
        height: 50px;
        width: 343px;
        margin: 32px auto 0;
      
        button{
          margin: 0 auto;
          width: 100%;
          height: 100%;
          background-color: #ea352d;
          border: solid 1px #ea352d;
          color: #fff;
          font-size: 14px;
          cursor: pointer;
        }
      }
      .last_text{
        height: 50px;
        width: 343px;
        margin: 32px auto 0;
        p{
          margin-left: 175px;
        
          a{
            cursor: pointer;
            font-size: 14px;
            color: #0099e8;
            &:hover{
              opacity: 0.75;
              text-decoration: underline;
            }
          }
          i{
            color: #0099e8;
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
  select::-ms-expand{
   display: none;
  }

*{box-sizing:border-box}